@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  transition-duration: 100ms;
}
